@import "_functions";
@import "_mixins";
@import "_variables";

.block-ping-pong-section.alignment-right {
  .ping-pong-items {
    &>.ping-pong-item:nth-child(even) {
      margin-top: 40px;
      flex-direction: row-reverse;
      margin-left: 72px;
      margin-bottom: 0;

      @include  media-breakpoint-down(lg) {
        margin: 0 0 40px;
      }

      .item-image {
        top: -40px;
        left: -72px;
        bottom: 40px;

        @include  media-breakpoint-down(lg) {
          left: 0;
        }
      }
    }
  }
}
