// Set variables globally.
.block-ping-pong-section.background-color {
  --smally-ping-pong-color-header: var(--ylb-color-white);
  --smally-ping-pong-color: var(--ylb-color-white);
  --smally-ping-pong-item-background: var(--wsPrimaryColor);
}
