// Set variables globally.
.block-ping-pong-section.background-gray {
  --smally-ping-pong-color-header: var(--wsPrimaryColor);
  --smally-ping-pong-color: var(--ylb-color-dark-grey-1);
  --smally-ping-pong-item-background: var(--ylb-color-light-grey-1);
}
