// Add colors that are specific for Small Y.
:root {
  --small-y-colored-chevron: #5bbbbc;
  --small-y-colored-chevron-dark: #0fa895;
  --small-y-gray-chevron: #dbdbdb;
  --small-y-gray-chevron-dark: #c5c5c5;
}
